#ifndef SECRETS_H
#define SECRETS_H

// --- CONFIGURACIÓN PUNTO DE ACCESO (ESP32) ---
#define REAL_AP_PASSWORD   "CAMBIAR"

// --- CONFIGURACIÓN MODEM Y RED ---
#define REAL_MODEM_APN     "APN de tu operador"

// --- CONFIGURACIÓN MQTT ---
#define REAL_MQTT_SERVER   "0.0.0.0"       // IP de tu servidor MQTT
#define REAL_MQTT_USER     "tu_usuario"    // Usuario de tu broker
#define REAL_MQTT_PASS     "tu_password"   // Contraseña de tu broker

#endif